.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #503291;
  height: 4rem;
  @media screen and (max-width: 1280px) {
    height: 3rem;
  }
  img {
    vertical-align: top;
    margin: 0 0 0 1.5rem;
    width: 4em;
    height: 4rem;
    @media screen and (max-width: 1280px) {
      width: 3rem;
      height: 3rem;
    }
  }
  div {
    padding: 0 1.5rem 0 0;
    color: #fff;
  }
/*
  > figure {
    margin: 0;
    padding: 0;
    width: 100%;
    height: inherit;

    color: #fff;
    > img,
    >span {
      float: left;
      margin-left: 0.75rem;
    }
  }

  > .alerts-bar {
    width: calc(100% - 6.625rem);
    color: #fff;
    > span {
      margin-left: 0.5rem;
    }
    > .alert {
      display: block;
      padding-left: 0.5rem;
      width: calc(100% - 0.5rem);
      height: inherit;
      color: #fff;
      text-decoration: none;
      background-color: #f22;
    }
  }


  > .configuration {
    position: relative;
    width: 2rem;
    height: inherit;
    > a {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      display: block;
      padding: 0 0 0.5rem 0.5rem;
      width: 2rem;
      height: inherit;
      font-size: 1.25rem;
      text-decoration: none;
      text-align: center;
      color: #fff;
      // background-color: rgba(#ff0, 0.5);
    }
  }
*/
}