.app-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #93939D;

  > li {
    margin: inherit;
    padding: inherit;
    width: 25%;
    > a {
      display: block;
      height: 3rem;
      line-height: 3rem;
      @media screen and (max-width: 1280px) {
        height: 4rem;
        line-height: 4rem;
      }
      color: #000;
      font-size: 1rem;
      text-decoration: none;
      text-align: center;
      border-top: 0.5rem solid #93939D;
      border-bottom: 0.5rem solid #93939D;

      &.router-link-active {
        font-weight: bold;
        color: #503291;
        border-bottom: 0.5rem solid #503291;
      }
    }

  }
  
}