.view-values {
  > section {
    > div {
      display: flex;
      position: relative;
      > ul {
        width: 35%;
        @media screen and (orientation: landscape) {
          span {
            width: 50% !important;
          }
          div {
            width: 50% !important;
          }
        }
      }
    }

    svg {
      margin-top: 0.25rem;
      @media screen and (max-height: 479px) {
        position: absolute;
        top: -2.125rem;
        right: 1rem;
        width: 300px;
        overflow: hidden;
      }
      .grid {
        text {
            font-size: 0.75rem;
            fill: #444;
        }
        line {
            stroke: #777;
            stroke-width: 1px;
        }
      }
      .chart {
        @media screen and (max-width: 480px) {
          transform: scaleX(0.75);
        }
      }
      > g > g > line {
        stroke: #503291;
        stroke-width: 0.125rem;
      }
    } 

  }
}